/* --tea-green: #ccd5aeff;
--beige: #e9edc9ff;
--cornsilk: #fefae0ff;
--papaya-whip: #faedcdff;
--buff: #d4a373ff; */

body{
    font-family:'Fira Code', monospace;    
    height: 100vh; 
    background-color:#fefae0ff;
}
h1{
    padding: 10px;
    height: 40px;
    text-decoration: underline;
}
